.remote-sync.json
*.o
*.csv
log.txt
certexample.c
googletest.csv
output.csv
output.txt
test_wildcards.c
cert-file2.pem
*.out
*.in
certexample
test_wildcards
testing
certexample.c
test_wildcards.c
testing.c
sample_certs
*.pem
*.json
